@import-normalize;
@import "recipe-list.css";
@import "font.css";
@import "button.css";
@import "recipe.css";
@import "ingredient-list.css";
@import 'person-list.css';
@import "recipe-edit.css";


* , *::before, *::after {
    font-family: Gothem Rounded, sans-serif; 
    box-sizing: border-box;
}

html {
    font-size: 25px;
}

body {
    padding : 0 ;
    margin : 0 ;
}

span:empty::before {
    content: "\200b"; /* unicode zero width space character */
}

span.error {
    color: red ; 
    font-size: 20px;
}

.mr-1 {
    margin-right: 5px;
}